<!DOCTYPE html>

<html lang="sv" class="js" xmlns:th="http://www.thymeleaf.org">

<meta charset="utf-8"/>
<head th:include="head" th:remove="tag" />

<body class="layout-2">
	<div id="body">
		<div th:include="header" th:remove="tag"></div>
		<div id="main" class="cf">
			<div id="content">
				<div th:include="sub-header-custgroups" th:remove="tag"></div>
				<div id="service-portal" class="sp-layout-4">
					<div class="content-1">
						<div class="m m-1 m-page cf">
							<div class="m-h main-header cf">
								<div class="page-heading">
									<h2	th:text="${'Redigera kundgrupp'}"></h2>
								</div>
							</div>
							<!-- Här kan man lägga på en vänster meny -->
							<div class="back-link side-margin">
								<a th:href="@{/customer-groups}">Tillbaka</a>
							</div>							
							<div class="m-form">
								<div class="content e-tjansteplattform hamster">
									<div class="form-step">																		
										<form
												th:action="@{/customer-groups/save-settings}"
												th:object="${customerGroup}" method="post">
											<input th:field="${customerGroup.id}"	type="hidden" id="customerId" />
											<input th:field="${customerGroup.registrationConfig.id}" type="hidden" id="registrationConfigId" />
											<input th:field="${customerGroup.reportsConfig.id}" type="hidden" id="reportsConfigId" />
											<div class="form-section" id="search-results">
												<h3>Kontaktuppgifter</h3>
												<table>
													<colgroup>
														<col style="width: 30%" />
														<col style="width: 70%" />
													</colgroup>
													<tbody>
														<tr>
															<th scope="row">Namn</th>
															<td><input class="large-field" th:field="${customerGroup.name}"
																type="text" id="name" /></td>
														</tr>
														<tr>
															<th scope="row">Epost-adress</th>
															<td><input class="large-field" th:field="${customerGroup.emailAddress}"
																type="text" id="email" /></td>
														</tr>
														<tr>
															<th scope="row">Vår referens</th>
															<td><input class="large-field" th:field="${customerGroup.ourReference}"
																type="text" id="ourReference" /></td>
														</tr>
														<tr>
															<th scope="row">Bakgrundsfärg</th>
															<td><input class="large-field" th:field="${customerGroup.backgroundColor}"
																type="color" id="backgroundColor" /></td>
														</tr>
														<tr>
															<th scope="row">Anropa leveransaviseringstjänst hos kund</th>
															<td><input type="checkbox" name="deliveryNotification" th:field="${customerGroup.sendDeliveryNotification}" th:checked="${customerGroup.sendDeliveryNotification}" /></td>
														</tr>
														<tr>
															<th scope="row">Hämta kontaktuppgifter från Netset</th>
															<td><input type="checkbox" name="getContactInfoFromNetset" th:field="${customerGroup.getContactInfoFromNetset}" th:checked="${customerGroup.getContactInfoFromNetset}" /></td>
														</tr>
														<tr>
															<th scope="row">Boka ordrar för registrering</th>
															<td><input type="checkbox" name="bookOrderBeforeRegistration" th:field="${customerGroup.bookOrderBeforeRegistration}" th:checked="${customerGroup.bookOrderBeforeRegistration}" /></td>
														</tr>
														<tr>
															<th scope="row">Klarsätt ordrar i Visma efter leverans</th>
															<td><input type="checkbox" name="deliveryFlagToERP" th:field="${customerGroup.deliveryFlagToERP}" th:checked="${customerGroup.deliveryFlagToERP}" /></td>
														</tr>
														<tr>
															<th scope="row">Skicka mail till kontaktpersoner vid leverans</th>
															<td><input type="checkbox" name="sendDeliveryMailToContacts" th:field="${customerGroup.sendDeliveryMailToContacts}" th:checked="${customerGroup.sendDeliveryMailToContacts}" /></td>
														</tr>
														<tr>
															<th scope="row">Autoregistrera interna orderrader</th>
															<td><input type="checkbox" name="autoRegisterInternalOrderLines" th:field="${customerGroup.autoRegisterInternalOrderLines}" th:checked="${customerGroup.autoRegisterInternalOrderLines}" /></td>
														</tr>
														<tr>
															<th scope="row">Epost-adress för leveransmeddelande</th>
															<td><input class="large-field" th:field="${customerGroup.deliveryEmailAddress}"
																type="text" id="deliveryEmailAddress" /></td>
														</tr>
														
													</tbody>
												</table>
											</div>
											
											<div class="form-section" id="search-results">
												<h3>Fält att registrera för utrustning</h3>
												<table>
													<colgroup>
														<col style="width: 10%" />
														<col style="width: 30%" />
														<col style="width: 20%" />
														<col style="width: 20%" />
														<col style="width: 20%" />
													</colgroup>
													<thead>
														<tr>
															<th scope="col">Fält</th>
															<th scope="col">Rubrik</th>
															<th scope="col">Obligatoriskt</th>
															<th scope="col">Aktivt</th>
															<th scope="col">Visa i leveranssedel</th>
															
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>1</td>															
															<td>
																<input type="text" class="medium-field" th:field="${customerGroup.registrationConfig.labelAttribute1}" name="label1"/>
															</td>
															<td>																
																<input type="checkbox" name="mandatory1" th:field="${customerGroup.registrationConfig.mandatoryAttribute1}" th:checked="${customerGroup.registrationConfig.mandatoryAttribute1}" />
															</td>
															<td>																
																<input type="checkbox" name="active1" th:field="${customerGroup.registrationConfig.useAttribute1}" th:checked="${customerGroup.registrationConfig.useAttribute1}" />
															</td>
															<td>																
																<input type="checkbox" name="delnote1" th:field="${customerGroup.registrationConfig.showInDeliveryNote1}" th:checked="${customerGroup.registrationConfig.showInDeliveryNote1}" />
															</td>
														</tr>
														<tr>
															<td>2</td>															
															<td>
																<input type="text" class="medium-field" th:field="${customerGroup.registrationConfig.labelAttribute2}" name="label2"/>
															</td>
															<td>																
																<input type="checkbox" name="mandatory2" th:field="${customerGroup.registrationConfig.mandatoryAttribute2}" th:checked="${customerGroup.registrationConfig.mandatoryAttribute2}" />
															</td>
															<td>																
																<input type="checkbox" name="active2" th:field="${customerGroup.registrationConfig.useAttribute2}" th:checked="${customerGroup.registrationConfig.useAttribute2}" />
															</td>
															<td>																
																<input type="checkbox" name="delnote2" th:field="${customerGroup.registrationConfig.showInDeliveryNote2}" th:checked="${customerGroup.registrationConfig.showInDeliveryNote2}" />
															</td>
														</tr>
														<tr>
															<td>3</td>															
															<td>
																<input type="text" class="medium-field" th:field="${customerGroup.registrationConfig.labelAttribute3}" name="label3"/>
															</td>
															<td>																
																<input type="checkbox" name="mandatory3" th:field="${customerGroup.registrationConfig.mandatoryAttribute3}" th:checked="${customerGroup.registrationConfig.mandatoryAttribute3}" />
															</td>
															<td>																
																<input type="checkbox" name="active3" th:field="${customerGroup.registrationConfig.useAttribute3}" th:checked="${customerGroup.registrationConfig.useAttribute3}" />
															</td>
															<td>																
																<input type="checkbox" name="delnote3" th:field="${customerGroup.registrationConfig.showInDeliveryNote3}" th:checked="${customerGroup.registrationConfig.showInDeliveryNote3}" />
															</td>
														</tr>
														<tr>
															<td>4</td>															
															<td>
																<input type="text" class="medium-field" th:field="${customerGroup.registrationConfig.labelAttribute4}" name="label4"/>
															</td>
															<td>																
																<input type="checkbox" name="mandatory4" th:field="${customerGroup.registrationConfig.mandatoryAttribute4}" th:checked="${customerGroup.registrationConfig.mandatoryAttribute4}" />
															</td>
															<td>																
																<input type="checkbox" name="active4" th:field="${customerGroup.registrationConfig.useAttribute4}" th:checked="${customerGroup.registrationConfig.useAttribute4}" />
															</td>
															<td>																
																<input type="checkbox" name="delnote4" th:field="${customerGroup.registrationConfig.showInDeliveryNote4}" th:checked="${customerGroup.registrationConfig.showInDeliveryNote4}" />
															</td>
														</tr>
														<tr>
															<td>5</td>															
															<td>
																<input type="text" class="medium-field" th:field="${customerGroup.registrationConfig.labelAttribute5}" name="label5"/>
															</td>
															<td>																
																<input type="checkbox" name="mandatory5" th:field="${customerGroup.registrationConfig.mandatoryAttribute5}" th:checked="${customerGroup.registrationConfig.mandatoryAttribute5}" />
															</td>
															<td>																
																<input type="checkbox" name="active5" th:field="${customerGroup.registrationConfig.useAttribute5}" th:checked="${customerGroup.registrationConfig.useAttribute5}" />
															</td>
															<td>																
																<input type="checkbox" name="delnote5" th:field="${customerGroup.registrationConfig.showInDeliveryNote5}" th:checked="${customerGroup.registrationConfig.showInDeliveryNote5}" />
															</td>
														</tr>
														<tr>
															<td>6</td>															
															<td>
																<input type="text" class="medium-field" th:field="${customerGroup.registrationConfig.labelAttribute6}" name="label6"/>
															</td>
															<td>																
																<input type="checkbox" name="mandatory6" th:field="${customerGroup.registrationConfig.mandatoryAttribute6}" th:checked="${customerGroup.registrationConfig.mandatoryAttribute6}" />
															</td>
															<td>																
																<input type="checkbox" name="active6" th:field="${customerGroup.registrationConfig.useAttribute6}" th:checked="${customerGroup.registrationConfig.useAttribute6}" />
															</td>
															<td>																
																<input type="checkbox" name="delnote6" th:field="${customerGroup.registrationConfig.showInDeliveryNote6}" th:checked="${customerGroup.registrationConfig.showInDeliveryNote6}" />
															</td>
														</tr>
														<tr>
															<td>7</td>															
															<td>
																<input type="text" class="medium-field" th:field="${customerGroup.registrationConfig.labelAttribute7}" name="label7"/>
															</td>
															<td>																
																<input type="checkbox" name="mandatory7" th:field="${customerGroup.registrationConfig.mandatoryAttribute7}" th:checked="${customerGroup.registrationConfig.mandatoryAttribute7}" />
															</td>
															<td>																
																<input type="checkbox" name="active7" th:field="${customerGroup.registrationConfig.useAttribute7}" th:checked="${customerGroup.registrationConfig.useAttribute7}" />
															</td>
															<td>																
																<input type="checkbox" name="delnote7" th:field="${customerGroup.registrationConfig.showInDeliveryNote7}" th:checked="${customerGroup.registrationConfig.showInDeliveryNote7}" />
															</td>
														</tr>
														<tr>
															<td>8</td>															
															<td>
																<input type="text" class="medium-field" th:field="${customerGroup.registrationConfig.labelAttribute8}" name="label8"/>
															</td>
															<td>																
																<input type="checkbox" name="mandatory8" th:field="${customerGroup.registrationConfig.mandatoryAttribute8}" th:checked="${customerGroup.registrationConfig.mandatoryAttribute8}" />
															</td>
															<td>																
																<input type="checkbox" name="active8" th:field="${customerGroup.registrationConfig.useAttribute8}" th:checked="${customerGroup.registrationConfig.useAttribute8}" />
															</td>
															<td>																
																<input type="checkbox" name="delnote8" th:field="${customerGroup.registrationConfig.showInDeliveryNote8}" th:checked="${customerGroup.registrationConfig.showInDeliveryNote8}" />
															</td>
														</tr>
													</tbody>
												</table>
											</div>

											<div class="form-section" id="search-results">
												<h3>Fält att visa i rapporter</h3>

												<table>
													<colgroup>
														<col style="width: 10%" />
														<col style="width: 30%" />
														<col style="width: 15%" />
														<col style="width: 15%" />
														<col style="width: 15%" />
														<col style="width: 15%" />
													</colgroup>
													<thead>
														<tr>
															<th scope="col">Fält</th>
															<th scope="col">Rubrik</th>
															<th scope="col">SLA-uppföljning</th>
															<th scope="col">Utförda leveranser</th>
															<th scope="col">Leveranssedel</th>
															<th scope="col">Arbetsorder</th>															
														</tr>
													</thead>
													<tbody>													
														<tr th:each="customerCustomField, loop : *{customerCustomFields}">
															<td th:text="${customerCustomField.customField.identification}">Fält 1</td>
															<td>
																<input type="text" th:field="*{customerCustomFields[__${loop.index}__].label}" name="label" class="medium-field"/>
															</td>															
															<td>																
																<input type="checkbox" name="showInSlaReport" th:field="*{customerCustomFields[__${loop.index}__].showInSlaReport}" th:checked="*{customerCustomFields[__${loop.index}__].showInSlaReport}" />
															</td>
															<td>																
																<input type="checkbox" name="showInDeliveryReport" th:field="*{customerCustomFields[__${loop.index}__].showInDeliveryReport}" th:checked="*{customerCustomFields[__${loop.index}__].showInDeliveryReport}" />
															</td>
															<td>																
																<input type="checkbox" name="showInDeliveryNote" th:field="*{customerCustomFields[__${loop.index}__].showInDeliveryNote}" th:checked="*{customerCustomFields[__${loop.index}__].showInDeliveryNote}" />
															</td>
															<td>																
																<input type="checkbox" name="showInWorkNote" th:field="*{customerCustomFields[__${loop.index}__].showInWorkNote}" th:checked="*{customerCustomFields[__${loop.index}__].showInWorkNote}" />
																<input type="hidden" name="identification" th:field="*{customerCustomFields[__${loop.index}__].customField.identification}" value="*{customerCustomFields[__${loop.index}__].customField.identification}" />
															</td>
														</tr>
														<tr>
															<td colspan="6">
																<strong>Fält för utförda leveranser</strong>
															</td>
														</tr>
														<tr>
															<td colspan="3">
																Ordernummer
															</td>
															<td>
																<input type="checkbox" name="showOrderNumber" th:field="${customerGroup.reportsConfig.showOrderNumber}" th:checked="${customerGroup.reportsConfig.showOrderNumber}" />
															</td>
														</tr>
														<tr>
															<td colspan="3">
																Web-ordernummer
															</td>
															<td>
																<input type="checkbox" name="showNetsetOrderNumber" th:field="${customerGroup.reportsConfig.showNetsetOrderNumber}" th:checked="${customerGroup.reportsConfig.showNetsetOrderNumber}" />
															</td>
														</tr>
														<tr>
															<td colspan="3">
																Kundens stad
															</td>
															<td>
																<input type="checkbox" name="showCustomerCity" th:field="${customerGroup.reportsConfig.showCustomerCity}" th:checked="${customerGroup.reportsConfig.showCustomerCity}" />
															</td>
														</tr>
														<tr>
															<td colspan="3">
																Kontaktperson 1
															</td>
															<td>
																<input type="checkbox" name="showContactPerson1" th:field="${customerGroup.reportsConfig.showContactPerson1}" th:checked="${customerGroup.reportsConfig.showContactPerson1}" />
															</td>
														</tr>
														<tr>
															<td colspan="3">
																Kontaktperson 2
															</td>
															<td>
																<input type="checkbox" name="showContactPerson2" th:field="${customerGroup.reportsConfig.showContactPerson2}" th:checked="${customerGroup.reportsConfig.showContactPerson2}" />
															</td>
														</tr>
														<tr>
															<td colspan="3">
																Kundens namn
															</td>
															<td>
																<input type="checkbox" name="showCustomerName" th:field="${customerGroup.reportsConfig.showCustomerName}" th:checked="${customerGroup.reportsConfig.showCustomerName}" />
															</td>
														</tr>
														<tr>
															<td colspan="3">
																Kundnummer
															</td>
															<td>
																<input type="checkbox" name="showCustomerNumber" th:field="${customerGroup.reportsConfig.showCustomerNumber}" th:checked="${customerGroup.reportsConfig.showCustomerNumber}" />
															</td>
														</tr>
														<tr>
															<td colspan="3">
																Kundens ordernummer
															</td>
															<td>
																<input type="checkbox" name="showCustomerOrderNumber" th:field="${customerGroup.reportsConfig.showCustomerOrderNumber}" th:checked="${customerGroup.reportsConfig.showCustomerOrderNumber}" />
															</td>
														</tr>
														<tr>
															<td colspan="3">
																Kundens säljordernummer
															</td>
															<td>
																<input type="checkbox" name="showCustomerSalesOrder" th:field="${customerGroup.reportsConfig.showCustomerSalesOrder}" th:checked="${customerGroup.reportsConfig.showCustomerSalesOrder}" />
															</td>
														</tr>
														<tr>
															<td colspan="3">
																Kundens leveransadress
															</td>
															<td>
																<input type="checkbox" name="showDeliveryAddress" th:field="${customerGroup.reportsConfig.showDeliveryAddress}" th:checked="${customerGroup.reportsConfig.showDeliveryAddress}" />
															</td>
														</tr>
														<tr>
															<td colspan="3">
																Leasingnummer
															</td>
															<td>
																<input type="checkbox" name="showLeasingNumber" th:field="${customerGroup.reportsConfig.showLeasingNumber}" th:checked="${customerGroup.reportsConfig.showLeasingNumber}" />
															</td>
														</tr>
														<tr>
															<td colspan="3">
																Orderdatum
															</td>
															<td>
																<input type="checkbox" name="showOrderDate" th:field="${customerGroup.reportsConfig.showOrderDate}" th:checked="${customerGroup.reportsConfig.showOrderDate}" />
															</td>
														</tr>
														<tr>
															<td colspan="3">
																Leveransdatum
															</td>
															<td>
																<input type="checkbox" name="showDeliveryDate" th:field="${customerGroup.reportsConfig.showDeliveryDate}" th:checked="${customerGroup.reportsConfig.showDeliveryDate}" />
															</td>
														</tr>

													</tbody>
												</table>
											</div>											
											
											<div class="submit-area">
												<input class="button" type="submit" value="Spara ändringar" />
											</div>
											
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:include="footer" th:remove="tag"></div>
	</div>
</body>
</html>