<div id="header" class="cf" role="banner">
	<div id="skip">
		<a href="#content-primary">Hoppa till innehåll</a>
	</div>
	<div id="logo">
		<a src="#"><img src="/im/img/logo.png" th:src="@{/img/logo-visolit.png}" alt="Visolit LIM" /></a>
	</div>
	<div class="main-heading">
		<div>
			<span>LIM</span>
			<div class="user-settings">
				<span class="area">Ett system för leverans av IT-utrustning</span>
			</div>
		</div>
	</div>
	<div class="nav-supp cf">
		<!--Start helplinks-->
				
		<h2 class="structural">Hjälplänkar</h2>
		<ul>
		
			<li>		
				<a th:href="@{/settings}">Inställningar</a>	
			</li>
			
			<li th:if="${session.customerGroup}">(Aktiv)<strong><a th:href="@{/customer-groups}" th:text="${session.customerGroup.name}"></a></strong></li>
			<li th:if="!${session.customerGroup}" ><strong><a style="color:red" th:href="@{/choose-customer-group}">OBS: Ingen aktiv kundgrupp</a></strong></li>
		</ul>
	</div>
		
</div>
