<!DOCTYPE html>

<html lang="sv" class="js" xmlns:th="http://www.thymeleaf.org">

<meta charset="utf-8"/>
<head th:include="head" th:remove="tag" />

<body class="layout-2">
	<div id="body">
		<!-- <div class="include" data-include="header"></div> -->
		<div th:include="header" th:remove="tag"></div>
		<div id="main" class="cf">
			<div id="content">
				<div th:include="sub-header" th:remove="tag"></div>
				<!-- <div class="include" data-include="sub-header"></div> -->
				<div id="service-portal" class="sp-layout-4">
					<div class="content-1">
						<div class="m m-1 m-page cf">
							<div class="m-h main-header cf">
								<div class="page-heading">
									<h2>Hantera leveranser</h2>
								</div>
							</div>
							<!-- Här kan man lägga på en vänster meny -->
							<div class="m-form">
								<div class="content e-tjansteplattform hamster">
									<div class="form-step">
										<!-- Här kan man lägga på ett tack meddelande -->
										<form class="form-general" method="get" action="index.jsp">
											<div class="form-section">
												<h3 class="expandtrigger">Filtrera och visa</h3>
												<div class="row cols-2 cf">
													<div class="select">
														<label for="status">Välj status</label> 
														<select
															id="status" name="status">
															<option value="all">Aktiva</option>
															<option value="undelivered">&nbsp;&nbsp;- Ny</option>
															<option value="delivered">&nbsp;&nbsp;- Påbörjad</option>
															<option value="delivered">&nbsp;&nbsp;- Klar att
																skicka</option>
															<option value="delivered">&nbsp;&nbsp;- Ej
																accepterad</option>
															<option value="all">Ej aktiva</option>
															<option value="delivered">&nbsp;&nbsp;- Skickad</option>
															<option value="delivered">&nbsp;&nbsp;- Överförd
																till Intraservice</option>

														</select>
													</div>
												</div>
												<input class="btn" type="submit" value="Visa" />
											</div>
										</form>
										<form>
											<div class="form-section" id="search-results">
												<h3>Sökresultat</h3>
												<table>
													<colgroup>
														<col style="width: 15%" />
														<col style="width: 25%" />
														<col style="width: 15%" />
														<col style="width: 20%" />
														<col style="width: 10%" />
														<col style="width: 15%" />
													</colgroup>
													<thead>
														<tr>
															<th scope="col">Ordernummer</th>
															<th scope="col">Benämning</th>
															<th scope="col">Referensnummer</th>
															<th scope="col">Kund</th>
															<th scope="col">Skapad</th>
															<th scope="col">Status</th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="order : ${orders}">
															<td><a th:text="${order.orderId}" th:href="${'order-list/view/' + {order.id}}">LT100199</a></td>
															<td th:text="${order.description}">Datorer till bibliotek</td>
															<td th:text="${order.referenceId}">REQ100094</td>
															<td th:text="${order.customer}">Lundby</td>
															<td th:text="${order.creationDateAsString}">2016-02-02</td>
															<td th:text="${order.status}">Ny</td>															
														</tr>
													</tbody>
												</table>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:include="footer" th:remove="tag"></div>
	</div>
</body>
</html>