<!DOCTYPE html>

<html lang="sv" class="js" xmlns:th="http://www.thymeleaf.org">

<script th:inline="javascript">

    /*<![CDATA[*/	    
        var serialNumberPosition = /*[[${session.customerGroup.serialNumberPosition}]]*/ 0;
        var serialNumberSeparator = /*[[${session.customerGroup.serialNumberSeparator}]]*/ ','';
        var nextSerialToUpdate = /*[[${reqAttr.serialNoToUpdate}]]*/ ','';
        var nextOrderlineToUpdate = /*[[${reqAttr.orderLineIdToUpdate}]]*/ ','';
	/*]]>*/
	
</script>


<meta charset="utf-8" />
<head th:include="head" th:remove="tag" />

<body class="layout-2">
	<div id="body">
		<div th:include="header" th:remove="tag"></div>
		<div id="main" class="cf">
			<div id="content">
				<div th:include="sub-header" th:remove="tag"></div>
				<div id="service-portal" class="sp-layout-4">
					<div class="content-1">
						<div class="m m-1 m-page cf">
							<div class="m-h main-header cf">
								<div class="page-heading">
									<h2>Hantera leverans</h2>
								</div>
							</div>
							<!-- Här kan man lägga på en vänster meny -->
							<div class="m-form">
								<div class="content e-tjansteplattform hamster">
									<div class="order-details">
										<div class="back-link">
											<a th:href="@{/order-list}">Tillbaka</a>
										</div>
										<div th:if="${not #strings.isEmpty(order.transmitErrorMessage)}" class="information-text system-info error-message">
											<p th:utext="${order.transmitErrorMessage}"></p>
										</div>
										<div th:if="${not #strings.isEmpty(reqAttr.thanksMessage)}"
											class="system-info thanks-message">
											<span th:text="${reqAttr.thanksMessage}">Tackmeddelande</span>
										</div>
										
										<div th:if="${not #strings.isEmpty(order.orderSummary)}" class="information-text system-info help-message">
											<p th:utext="${order.orderSummary}"></p>
											<p th:if="${order.orderCanBeCorrected}">För att korrigera serienummer eller stöld-id på denna order, klicka <a th:href="@{/order-list/correct/} + ${order.id}"><strong>HÄR =></strong></a></p>
										</div>
											
										<div th:if="${not #strings.isEmpty(reqAttr.infoMessage)}" class="information-text system-info error-message">
											<p th:utext="${reqAttr.infoMessage}"></p>
										</div>

																				
										<div class="form-step current-step" id="registration-area">
											<div class="form-step-header cf">
												<h2
													th:text="${'Hantera leverans för order ' + {order.orderNumber}}"></h2>
											</div>
											<div class="form-section">
												<!-- Show registration section only if there are things left to register -->
												
												<!-- TEST -->
												<!--											
												<h3>SKAPA 1000 TEST-ORDERRADER</h3>
												<form
													th:action="@{/order-list/generate-rows/} + ${order.id}"
													th:object="${reqAttr}" method="post"
													onsubmit="return confirm('Vill du verkligen skapa 1000 orderrader?');">	
													<div class="row cf action-area">
														<input class="backend-operation" type="submit"
															value="Skapa 1000 rader" name="create1000Rows" id="create1000Rows" />
													</div>
												</form>
												-->
												<!-- END TEST -->
												<h3>Metod för registrering</h3>
												<form
													th:action="@{/order-list/registration-method/} + ${order.id}"
													th:object="${order}" method="post">	
													<fieldset>													
														<div class="radio alt">
															<input th:field="${order.registrationMethod}" type="radio"
																id="InputRegistrationMethodDefault" name="InputRegistrationMethod"
																value="0" onchange="this.form.submit()"/> <label for="InputRegistrationMethodDefault">Välj serienummer och komplettera</label>
														</div>
														<div class="radio alt">
															<input th:field="${order.registrationMethod}" type="radio"
																id="InputRegistrationMethodFlexible" name="InputRegistrationMethod"
																value="1" onchange="this.form.submit()"/> <label for="InputRegistrationMethodFlexible">Skanna serienummer</label>
														</div>
													</fieldset>
												</form>
												<div
													th:if="${order.registrationMethod} == 1"
													th:remove="tag">
													<form
														th:action="@{/order-list/view/updateEquipmentBySnr/} + ${order.id}"
														th:object="${reqAttr}" method="post" id="reg-equipment">
														<table id="reg-method-flexible">
															<colgroup>
																<col style="width: 20%" />
																<col style="width: 80%" />
															</colgroup>
															<tbody>
																<tr>
																	<th scope="row">Serienummer</th>
																	<td><input th:field="${reqAttr.serialNo}"
																		type="text" id="serienr" value="" /></td>
																</tr>
																<tr id="input-stealing-id">
																	<th scope="row">Stöld-ID</th>
																	<td><input th:field="${reqAttr.stealingTag}"
																		type="text" id="stealingid" name="stealingid" value=""/></td>
																</tr>
																<tr th:if="${regConfig.useAttribute1}">
																	<th scope="row" th:text="${regConfig.labelAttribute1}">Attribut 1</th>
																	<td><input th:field="${reqAttr.customAttribute1}"
																		type="text" id="customAttribute1" name="customAttribute1" value=""/></td>
																</tr>
																<tr th:if="${regConfig.useAttribute2}">
																	<th scope="row" th:text="${regConfig.labelAttribute2}">Attribut 2</th>
																	<td><input th:field="${reqAttr.customAttribute2}"
																		type="text" id="customAttribute2" name="customAttribute2" value=""/></td>
																</tr>
																<tr th:if="${regConfig.useAttribute3}">
																	<th scope="row" th:text="${regConfig.labelAttribute3}">Attribut 3</th>
																	<td><input th:field="${reqAttr.customAttribute3}"
																		type="text" id="customAttribute3" name="customAttribute3" value=""/></td>
																</tr>
																<tr th:if="${regConfig.useAttribute4}">
																	<th scope="row" th:text="${regConfig.labelAttribute4}">Attribut 4</th>
																	<td><input th:field="${reqAttr.customAttribute4}"
																		type="text" id="customAttribute4" name="customAttribute4" value=""/></td>
																</tr>
																<tr th:if="${regConfig.useAttribute5}">
																	<th scope="row" th:text="${regConfig.labelAttribute5}">Attribut 5</th>
																	<td><input th:field="${reqAttr.customAttribute5}"
																		type="text" id="customAttribute5" name="customAttribute5" value=""/></td>
																</tr>
																<tr th:if="${regConfig.useAttribute6}">
																	<th scope="row" th:text="${regConfig.labelAttribute6}">Attribut 6</th>
																	<td><input th:field="${reqAttr.customAttribute6}"
																		type="text" id="customAttribute6" name="customAttribute6" value=""/></td>
																</tr>
																<tr th:if="${regConfig.useAttribute7}">
																	<th scope="row" th:text="${regConfig.labelAttribute7}">Attribut 7</th>
																	<td><input th:field="${reqAttr.customAttribute7}"
																		type="text" id="customAttribute7" name="customAttribute7" value=""/></td>
																</tr>
																<tr th:if="${regConfig.useAttribute8}">
																	<th scope="row" th:text="${regConfig.labelAttribute8}">Attribut 8</th>
																	<td><input th:field="${reqAttr.customAttribute8}"
																		type="text" id="customAttribute8" name="customAttribute8" value=""/></td>
																</tr>
																
																<tr>
																	<th scope="row">Registrerad av</th>
																	<td><input th:field="${reqAttr.registeredBy}"
																		type="text" id="registeredby" name="registeredby" value="" class="trig-enter"/></td>
																</tr>
															</tbody>
														</table>
														<div class="row cf action-area">
															<input class="backend-operation" type="submit"
																value="Spara" name="storeequipment" id="storeequipment" />
														</div>
													</form>
												</div>
												<!-- 
												<div
													th:if="${order.okToRegister} == true"
													th:remove="tag">
													<h3>Registrera utrustning</h3>
													<div th:if="${not #strings.isEmpty(reqAttr.regEquipmentResult)}"
														class="system-info error-message">
														<span th:text="${reqAttr.regEquipmentResult}">Felmeddelande efter registrering</span>
													</div>
													
													<form
														th:action="@{/order-list/view/registerEquipment/} + ${order.id}"
														th:object="${reqAttr}" method="post" id="reg-equipment">
														<table class="small-table">
															<colgroup>
																<col style="width: 30%" />
																<col style="width: 70%" />
															</colgroup>
															<tbody>
																<tr>
																	<th scope="row">Orderrad</th>
																	<td><select th:field="${reqAttr.orderLineId}"
																		id="orderLineId" name="orderLineId">
																			<option
																				th:each="orderLine : ${order.unCompletedOrderLines}"
																				th:value="${orderLine.id}"
																				th:text="${orderLine.rowNumber}"
																				th:attr="data-art-type=${orderLine.optionClass},
																						data-restriction-code=${orderLine.restrictionCode}" />
																	</select></td>
																</tr>
															</tbody>
														</table>
														<table id="with-serial-no">
															<colgroup>
																<col style="width: 30%" />
																<col style="width: 70%" />
															</colgroup>
															<tbody>
																<tr>
																	<th scope="row">Serienummer</th>
																	<td><input th:field="${reqAttr.serialNo}"
																		type="text" id="serienr" value="" /></td>
																</tr>
																<tr id="input-stealing-id">
																	<th scope="row">Stöld-ID</th>
																	<td><input th:field="${reqAttr.stealingTag}"
																		type="text" id="stealingid" name="stealingid" value=""/></td>
																</tr>
																<tr th:if="${regConfig.useAttribute1}">
																	<th scope="row" th:text="${regConfig.labelAttribute1}">Attribut 1</th>
																	<td><input th:field="${reqAttr.customAttribute1}"
																		type="text" id="customAttribute1" name="customAttribute1" value=""/></td>
																</tr>
																<tr th:if="${regConfig.useAttribute2}">
																	<th scope="row" th:text="${regConfig.labelAttribute2}">Attribut 2</th>
																	<td><input th:field="${reqAttr.customAttribute2}"
																		type="text" id="customAttribute2" name="customAttribute2" value=""/></td>
																</tr>
																<tr th:if="${regConfig.useAttribute3}">
																	<th scope="row" th:text="${regConfig.labelAttribute3}">Attribut 3</th>
																	<td><input th:field="${reqAttr.customAttribute3}"
																		type="text" id="customAttribute3" name="customAttribute3" value=""/></td>
																</tr>
																<tr th:if="${regConfig.useAttribute4}">
																	<th scope="row" th:text="${regConfig.labelAttribute4}">Attribut 4</th>
																	<td><input th:field="${reqAttr.customAttribute4}"
																		type="text" id="customAttribute4" name="customAttribute4" value=""/></td>
																</tr>
																<tr th:if="${regConfig.useAttribute5}">
																	<th scope="row" th:text="${regConfig.labelAttribute5}">Attribut 5</th>
																	<td><input th:field="${reqAttr.customAttribute5}"
																		type="text" id="customAttribute5" name="customAttribute5" value=""/></td>
																</tr>
																<tr th:if="${regConfig.useAttribute6}">
																	<th scope="row" th:text="${regConfig.labelAttribute6}">Attribut 6</th>
																	<td><input th:field="${reqAttr.customAttribute6}"
																		type="text" id="customAttribute6" name="customAttribute6" value=""/></td>
																</tr>
																<tr th:if="${regConfig.useAttribute7}">
																	<th scope="row" th:text="${regConfig.labelAttribute7}">Attribut 7</th>
																	<td><input th:field="${reqAttr.customAttribute7}"
																		type="text" id="customAttribute7" name="customAttribute7" value=""/></td>
																</tr>
																<tr th:if="${regConfig.useAttribute8}">
																	<th scope="row" th:text="${regConfig.labelAttribute8}">Attribut 8</th>
																	<td><input th:field="${reqAttr.customAttribute8}"
																		type="text" id="customAttribute8" name="customAttribute8" value=""/></td>
																</tr>
																
																<tr>
																	<th scope="row">Registrerad av</th>
																	<td><input th:field="${reqAttr.registeredBy}"
																		type="text" id="registeredby" name="registeredby" value="" class="trig-enter"/></td>
																</tr>
															</tbody>
														</table>
														<table id="no-serial-no" class="small-table"
															style="display: none;">
															<colgroup>
																<col style="width: 30%" />
																<col style="width: 70%" />
															</colgroup>
															<tbody>
																<tr>
																	<th scope="row">Antal</th>
																	<td><input th:field="${reqAttr.total}" type="number"
																		id="total" name="total" value="" /></td>
																</tr>
															</tbody>
														</table>
														<div class="row cf action-area">
															<input class="backend-operation" type="submit"
																value="Spara" name="storeequipment" id="storeequipment" />
														</div>
													</form>
												</div>
												-->
												<h3>Orderrader</h3>
												<div th:if="${not #strings.isEmpty(reqAttr.updateEquipmentResult)}"
													class="system-info error-message">
													<span th:text="${reqAttr.updateEquipmentResult}">Felmeddelande efter registrering</span>
												</div>
												<table class="small-table">
													<thead>
														<tr>
															<th>Orderrad</th>
															<th>Artikelnummer</th>
															<th>Beskrivning</th>
															<th>Serienummerbärande</th>
															<th>Antal</th>
															<th>Registrerade</th>
															<th>Återstående</th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="orderLine : ${order.orderLinesToRegister}"
															th:remove="tag">
															<tr th:class="${orderLine.rowClass}">
																<td th:text="${orderLine.rowNumber}">1</td>
																<td th:text="${orderLine.articleNumber}">31231312</td>
																<td th:text="${orderLine.articleDescription}">HP elitebook</td>
																<td th:text="${orderLine.hasSerialNoLabel}">Ja</td>
																<td th:text="${orderLine.total}">5</td>
																<td th:text="${orderLine.registered}">0</td>
																<td th:text="${orderLine.remaining}">5</td>
															</tr>
															<tr th:if="${not #lists.isEmpty(orderLine.equipments)}">
																<td></td>
																<td colspan="4">
																	<table class="small-table inner-table">
																		<thead>
																			<tr>
																				<th style="width:17%;">Serienummer</th>
																				<th style="width:13%;">Stöld-ID</th>
																				<th style="width:20%;">Registrerad av</th>
																				<th style="width:20%;">Tidpunkt</th>
																				<th style="width:15%;" th:if="${orderLine.updateEquipmentAllowed}">Komplettera</th>
																			</tr>
																		</thead>
																		<tbody>
																			<tr th:each="equipment : ${orderLine.equipments}">
																				<td th:text="${equipment.serialNo}">5</td>
																				<td th:text="${equipment.stealingTag}">5</td>
																				<td th:text="${equipment.registeredBy}">Kalle</td>
																				<td th:text="${equipment.creationDateDisplay}">2014-01-01</td>
																				<td th:if="${orderLine.updateEquipmentAllowed}"><a th:attr="data-snr=${equipment.serialNo},data-olid=${orderLine.id}" href="#" class="update-equipment-link" >Komplettera</a></td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</tr>
													</tbody>
												</table>
												<div th:if="${order.partOfJointdelivery}">
													<h3>Andra ordrar i denna samleverans</h3>
													<table class="small-table">
														<thead>
															<tr>
																<th>Ordernummer</th>
																<th>Status</th>
															</tr>
														</thead>
														<tbody>
															<tr th:each="order : ${reqAttr.relatedOrders}">
																<td><a th:text="${order.orderNumber}" th:href="@{/order-list/view/} + ${order.id}">LT100199</a></td>
																<td th:text="${order.statusDisplay}">Ny</td>															
															</tr>
														</tbody>
													</table>
													
												</div>
												
												<h3 id="label-printing">Utskrift av etiketter</h3>
												<div th:if="${not #strings.isEmpty(order.printMessage)}" class="information-text system-info help-message">
													<p th:utext="${order.printMessage}"></p><strong><a onclick="PrintLabels()">Skriv ut =></a></strong>
												</div>
												
												<h3 id="route-planning-header">Ruttplanering</h3>
												
												<!-- Success or error message for route planning -->
												<div th:if="${reqAttr.statusRouteplanSuccess != null}"
													class="information-text system-info thanks-message">
													<span th:text="${reqAttr.statusRouteplanSuccess}">Ruttplanering OK</span>
												</div>
												<div th:if="${reqAttr.statusRouteplanFailed != null}"
													class="system-info error-message">
													<span th:text="${reqAttr.statusRouteplanFailed}">Ruttplanering misslyckades</span>
												</div>
												<!-- Info message for route planned order -->
												<div th:if="${not #strings.isEmpty(order.routePlanSummary)}" class="information-text system-info help-message">
													<p th:utext="${order.routePlanSummary}"></p>
													<p th:if="${order.routePlanEditable}">För att göra om ruttplanering på denna order, klicka <a id="change-route-plan" href="#route-planning-header"><strong>HÄR =></strong></a></p>
												</div>
												
												<form
													th:action="@{/order-list/view/planroute/} + ${order.id} + '#route-planning-header'"
													th:object="${reqAttr}" method="post"
													id="route-plan-form"
													th:if="${order.plannable}"
													th:classappend="${not #strings.isEmpty(order.routePlanSummary)} ? 'hidden-form' : ''">
													<table class="small-table fluffy">
														<tbody>
															<tr>
																<th scope="row">Välj område</th>
																<td><select th:field="${reqAttr.deliveryAreaId}"
																	id="deliveryAreaId" name="deliveryAreaId">
																		<option value="0">-- Välj -- </option>
																		<option th:each="deliveryArea : ${deliveryAreas}"
																			th:value="${deliveryArea.id}"
																			th:text="${deliveryArea.name}" />
																</select></td>
															</tr>
															<tr>
																<th scope="row">Välj leveransdag</th>
																<td><select th:field="${reqAttr.deliveryDayId}"
																	id="deliveryDayId" name="deliveryDayId">	
																	<option th:each="deliveryDay : ${reqAttr.deliveryDays}"
																			th:value="${deliveryDay.dateAsString}"
																			th:text="${deliveryDay.dayAndDate}" />																
																</select></td>
															</tr>
															<tr>
																<th scope="row">Datum</th>
																<td>
																	<input th:field="${reqAttr.deliveryDate}" name="dateToDeliver" id="dateToDeliver" type="date"/>
																</td>
															</tr>
															<tr>
																<th scope="row">Kommentar</th>
																<td><textarea th:field="${reqAttr.comment}"
																		rows="5" cols="75" id="route-comment" name="route-comment"
																		placeholder="Skriv din kommentar här"></textarea>
																</td>
															</tr>
														</tbody>
													</table>

													<div class="row cf action-area">
														<input class="backend-operation" type="submit"
															value="Spara" name="store-route-plan" id="store-route-plan" />
														&nbsp;&nbsp;
														<a th:if="${reqAttr.deliveryDayId}" th:href="@{/order-list/new-routeplan/} + ${order.id}"><strong>Ta bort ruttplaneringen</strong></a>															
													</div>
												</form>
												<h3 id="contact-persons">Kontaktpersoner</h3>
												<table class="small-table">
													<thead>
														<tr>
															<th>Namn</th>
															<th>Epost-adress</th>
															<th>Telefon</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td th:text="${order.contact1Name}">Kalle</td>
															<td th:text="${order.contact1Email}">Kalle@gmail.com</td>
															<td th:text="${order.contact1Phone}">070-101010</td>
														</tr>
														<tr>
															<td th:text="${order.contact2Name}">Pelle</td>
															<td th:text="${order.contact2Email}">Pelle@gmail.com</td>
															<td th:text="${order.contact2Phone}">070-121212</td>
														</tr>
													</tbody>
												</table>
												<h3 id="Delivery-address">Leveransadress</h3>
												<table class="small-table">
													<colgroup>
														<col style="width: 30%" />
														<col style="width: 70%" />
													</colgroup>
													<tbody>
													
														<tr>
															<th scope="row">Namn</th>
															<td th:text="${order.deliveryAddressName}" id="order-del-name">Levnamn</td>
														</tr>
													
													
														<tr>
															<th scope="row">Leveransadress 1</th>
															<td th:text="${order.deliveryPostalAddress1}" id="order-del-adr-1">Storgatan 1</td>
														</tr>
														<tr>
															<th scope="row">Leveransadress 2</th>
															<td th:text="${order.deliveryPostalAddress2}" id="order-del-adr-2">3 trappor</td>
														</tr>
														<tr>
															<th scope="row">Postnummer</th>
															<td th:text="${order.deliveryPostalCode}" id="order-del-postal-code">42655</td>
														</tr>
														<tr>
															<th scope="row">Ort</th>
															<td th:text="${order.deliveryCity}" id="order-del-city">Göteborg</td>
														</tr>
													</tbody>
												</table>
												<h3 id="additional-delivery-info">Leveransinformation</h3>
												<!-- Success or error message for file upload -->
												<div th:if="${reqAttr.statusAttachmentSuccess != null}"
													class="information-text system-info thanks-message">
													<span th:text="${reqAttr.statusAttachmentSuccess}">Fil uppladdad</span>
												</div>
												<div th:if="${reqAttr.statusAttachmentFailed != null}"
													class="system-info error-message">
													<span th:text="${reqAttr.statusAttachmentFailed}">Fil kunde ej laddas upp</span>
												</div>
												<table class="small-table">
													<colgroup>
														<col style="width: 30%" />
														<col style="width: 70%" />
													</colgroup>
													<tbody>
														<tr>
															<th scope="row">Leveransdatum</th>
															<td th:text="${order.deliveryTimeDisplay}">2016-02-02</td>
														</tr>
														<tr th:if="${order.deliveryStatus != null}">
															<th scope="row">Leveransstatus</th>
															<td th:text="${order.deliveryStatusDisplay}" id="delivery-status">Levererad</td>
														</tr>
														<tr th:if="${order.deliveryComment != null}">
															<th scope="row">Leveranskommentar</th>
															<td th:text="${order.deliveryComment}" id="delivery-comment">Kommentar</td>
														</tr>
														<tr th:if="${order.deliveryReceiverName != null}">
															<th scope="row">Mottagarens namn</th>
															<td th:text="${order.deliveryReceiverName}" id="delivery-receiver-name">Kalle Kula</td>
														</tr>
														<tr th:if="${order.deliverySignature != null}">
															<th scope="row">Signatur</th>
															<td>
																<a href="#additional-delivery-info" id="toogle-signature">Visa signatur</a>
															</td>															
														</tr>
														<tr th:if="${order.deliverySignature != null}" style="display: none;" id="signature-row">
															<th scope="row"></th>
															<td>
																<img th:src="${order.deliverySignature}" />
															</td>															
														</tr>
														
														<tr th:if="${order.attachment != null}">
															<th scope="row">Leveransdokument</th>
															<td>
																<a th:href="@{/order-list/view/viewfile/} + ${order.id}" th:text="${order.attachment.fileName}">Hämta fil</a>
																<span th:if="${order.editable}"><strong><a th:href="@{/order-list/view/delfile/} + ${order.id} + '#additional-order-info'">Ta bort</a></strong></span>
															</td>															
														</tr>
													</tbody>
												</table>
												<div th:if="${order.attachment == null}">
													<label class="strong-title" for="bifogad_fil">Bifoga leveransdokument</label>
													 <form action="upload" th:action="@{/order-list/view/attachFile/} + ${order.id} + '#additional-order-info'" method="post" enctype="multipart/form-data">
														<div class="attachment-area">
															<div class="cloneable">
																<input type="file" name="attachment"
																	class="filesize" id="attachment" />
																<button>Bifoga</button>
															</div>
														</div>
													</form>
												</div>
												
												<h3 id="additional-order-info">Övrig orderinformation</h3>
												
												<table class="small-table">
													<colgroup>
														<col style="width: 30%" />
														<col style="width: 70%" />
													</colgroup>
													<tbody>
														<tr>
															<th scope="row">Ordernummer</th>
															<td th:text="${order.orderNumber}" id="int-order-no">LT100199</td>
														</tr>
														<tr>
															<th scope="row">Web-ordernummer</th>
															<td th:text="${order.netsetOrderNumber}" id="web-order-no">233199</td>
														</tr>
														
														<tr>
															<th scope="row">Kundens ordernummer</th>
															<td th:text="${order.customerOrderNumber}" id="ext-order-no">REQ100094</td>
														</tr>
														<tr>
															<th scope="row">Kundens beställningsnummer</th>
															<td th:text="${order.customerSalesOrder}" id="ext-sales-no">REQ100094</td>
														</tr>
														<tr>
															<th scope="row">Kund</th>
															<td th:text="${order.customerName}">Lundby</td>
														</tr>
														<tr>
															<th scope="row">Orderdatum</th>
															<td th:text="${order.orderDateAsString}">2016-02-02</td>
														</tr>
														<tr>
															<th scope="row">Status</th>
															<td th:text="${order.statusDisplay}">Ny</td>
														</tr>
														
														<tr id="signature-row" >
															<th scope="row">Samleverans med ordrar</th>
															<td th:text="${order.jointDeliveryOrders}">00000</td>
														</tr>
														
														<tr th:each="orderCustomField : ${order.orderCustomFields}" th:if="${orderCustomField.showInOrderDetails}">
															<th scope="row" th:text="${orderCustomField.label}">Customfält</th>
															<td th:text="${orderCustomField.value}">Värde Customfält</td>
															<td></td>
														</tr>		
													</tbody>
												</table>
												<h3 id="order-comments-header">Statusmeddelanden</h3>
												<!-- Success or error message for order commen t creation -->
												<div th:if="${reqAttr.statusMessageCreationSuccess != null}"
													class="information-text system-info thanks-message">
													<span th:text="${reqAttr.statusMessageCreationSuccess}">Kommentar
														skapades</span>
												</div>
												<div th:if="${reqAttr.statusMessageCreationFailed != null}"
													class="system-info error-message">
													<span th:text="${reqAttr.statusMessageCreationFailed}">Kommentar
														skapades ej</span>
												</div>
												<form
													th:if="${order.statusMessageAllowed}"
													th:action="@{/order-list/view/registerComment/} + ${order.id} + '#order-comments-header'"
													th:object="${reqAttr}" method="post">
													<table class="small-table">
														<tbody>
															<tr>
																<th scope="row">Orderrad</th>
																<td><select th:field="${reqAttr.orderLineId}"
																	id="orderLineId" name="orderLineId">
																		<option value="0">Generellt</option>
																		<option th:each="orderLine : ${order.orderLines}"
																			th:value="${orderLine.rowNumber}"
																			th:text="${orderLine.rowNumber}" />
																</select></td>
															</tr>
															<tr>
																<th scope="row">Meddelande</th>
																<td><textarea th:field="${reqAttr.comment}"
																		rows="5" cols="75" id="comment" name="message"
																		placeholder="Skriv ditt statusmeddelande här"></textarea>
																</td>
															</tr>
														</tbody>
													</table>

													<div class="row cf action-area">
														<input class="backend-operation" type="submit"
															value="Skicka" name="storecomment" id="storecomment" />
													</div>
												</form>
												<h4>Skickade statusmeddelanden</h4>
												<table class="small-table">
													<thead>
														<tr>
															<th>Orderrad</th>
															<th>Meddelande</th>
															<th>Tidpunkt</th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="comment : ${order.orderComments}">
															<td th:text="${comment.orderLineDisplay}">1</td>
															<td th:text="${comment.message}">HP elitebook</td>
															<td th:text="${comment.creationDateDisplay}">Ja</td>
														</tr>
													</tbody>
												</table>
												<div th:if="${order.editable}">
												
													<h3>Makulering av order</h3>
													<div class="system-info error-message">
														<span><strong>OBS!</strong> Genom att makulera ordern kommer all data om ordern att raderas</span>
													</div>
													<form
														th:action="@{/order-list/view/cancelOrder/} + ${order.id}"
														th:object="${reqAttr}" method="post"
														onsubmit="return confirm('Vill du verkligen makulera ordern?');">	
														<div class="row cf action-area">
															<input class="backend-operation" type="submit"
																value="Makulera ordern" name="cancelorder" id="cancelorder" />
														</div>
													</form>
												</div>												
												<h3>Övriga operationer</h3>
												<div class="cf">
													<a class="button" th:href="@{/generate-work-order/} + ${order.id}" target="_blank">Skapa arbetsorder/plocklista</a>
													<a class="button" th:href="@{/generate-delivery-note/} + ${order.id}" target="_blank">Skapa följesedel</a>
													<a th:if="${order.okToSendDeliveryReport}" class="button" th:href="@{/order-list/send-delivery-info/} + ${order.id}" target="_blank">Skicka leveransavisering till kund</a>
													<form th:if="${order.okToCompleteUnfinished}"
														th:action="@{/order-list/view/finishOrder/} + ${order.id}"
														th:object="${reqAttr}" method="post"
														onsubmit="return confirm('Vill du verkligen sätta ordern till färdigregistrerad?');">	
															<input class="backend-operation" type="submit"
																value="Sätt ordern färdigregistrerad" name="finishorder" id="finishorder" />
													</form>													
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:include="footer" th:remove="tag"></div>
	</div>
	<div id="update-equipment" >
		<form
			th:action="@{/order-list/view/updateEquipment/} + ${order.id}"
			th:object="${reqAttr}" method="post" id="reg-equipment">
	  		
	  		<table>
				<colgroup>
					<col style="width: 30%" />
					<col style="width: 70%" />
				</colgroup>
				<tbody>
					<tr>
						<th scope="row">Serienummer</th>
						<td><input th:field="${reqAttr.serialNo}"
							type="text" id="serienr" readonly="readonly" style="color: #787878;" />
							</td>
					</tr>
					<tr id="input-stealing-id">
						<th scope="row">Stöld-ID</th>
						<td><input th:field="${reqAttr.stealingTag}"
							type="text" id="stealingid" name="stealingid" value=""/></td>
					</tr>					
					<tr th:if="${regConfig.useAttribute1}">
						<th scope="row" th:text="${regConfig.labelAttribute1}">Attribut 1</th>
						<td><input th:field="${reqAttr.customAttribute1}"
							type="text" id="customAttribute1" name="customAttribute1" value=""/></td>
					</tr>
					<tr th:if="${regConfig.useAttribute2}">
						<th scope="row" th:text="${regConfig.labelAttribute2}">Attribut 2</th>
						<td><input th:field="${reqAttr.customAttribute2}"
							type="text" id="customAttribute2" name="customAttribute2" value=""/></td>
					</tr>
					<tr th:if="${regConfig.useAttribute3}">
						<th scope="row" th:text="${regConfig.labelAttribute3}">Attribut 3</th>
						<td><input th:field="${reqAttr.customAttribute3}"
							type="text" id="customAttribute3" name="customAttribute3" value=""/></td>
					</tr>
					<tr th:if="${regConfig.useAttribute4}">
						<th scope="row" th:text="${regConfig.labelAttribute4}">Attribut 4</th>
						<td><input th:field="${reqAttr.customAttribute4}"
							type="text" id="customAttribute4" name="customAttribute4" value=""/></td>
					</tr>
					<tr th:if="${regConfig.useAttribute5}">
						<th scope="row" th:text="${regConfig.labelAttribute5}">Attribut 5</th>
						<td><input th:field="${reqAttr.customAttribute5}"
							type="text" id="customAttribute5" name="customAttribute5" value=""/></td>
					</tr>
					<tr th:if="${regConfig.useAttribute6}">
						<th scope="row" th:text="${regConfig.labelAttribute6}">Attribut 6</th>
						<td><input th:field="${reqAttr.customAttribute6}"
							type="text" id="customAttribute6" name="customAttribute6" value=""/></td>
					</tr>
					<tr th:if="${regConfig.useAttribute7}">
						<th scope="row" th:text="${regConfig.labelAttribute7}">Attribut 7</th>
						<td><input th:field="${reqAttr.customAttribute7}"
							type="text" id="customAttribute7" name="customAttribute7" value=""/></td>
					</tr>
					<tr th:if="${regConfig.useAttribute8}">
						<th scope="row" th:text="${regConfig.labelAttribute8}">Attribut 8</th>
						<td><input th:field="${reqAttr.customAttribute8}"
							type="text" id="customAttribute8" name="customAttribute8" value=""/></td>
					</tr>
					
					<tr>
						<th scope="row">Registrerad av</th>
						<td><input th:field="${reqAttr.registeredBy}"
							type="text" id="registeredby" name="registeredby" value="" class="trig-enter"/></td>
					</tr>
				</tbody>
			</table>
			<input id="order-line-id" type="hidden" th:field="${reqAttr.orderLineId}" />
			<p><input type="submit" value="Spara" /></p>
		</form>
	</div>
</body>

</html>