<!DOCTYPE html>

<html lang="sv" class="js" xmlns:th="http://www.thymeleaf.org">

<meta charset="utf-8" />
<head th:include="head" th:remove="tag" />

<body class="layout-2">
	<div id="body">
		<div th:include="header" th:remove="tag"></div>
		<div id="main" class="cf">
			<div id="content">
				<div th:include="sub-header" th:remove="tag"></div>
				<div id="service-portal" class="sp-layout-4">
					<div class="content-1">
						<div class="m m-1 m-page cf">
							<div class="m-h main-header cf">
								<div class="page-heading">
									<h2>Hantera leverans</h2>
								</div>
							</div>
							<!-- Här kan man lägga på en vänster meny -->
							<div class="m-form">
								<div class="content e-tjansteplattform hamster">
									<div class="order-details">
										<div class="back-link">
											<a th:href="@{/order-list}" rel="nofollow">Tillbaka</a>
										</div>
										<div th:if="${not #strings.isEmpty(order.transmitErrorMessage)}" class="information-text system-info error-message">
											<p th:utext="${order.transmitErrorMessage}"></p>
										</div>
										<div th:if="${not #strings.isEmpty(reqAttr.thanksMessage)}"
											class="system-info thanks-message">
											<span th:text="${reqAttr.thanksMessage}">Tackmeddelande</span>
										</div>
										
										<div th:if="${not #strings.isEmpty(order.orderSummary)}" class="information-text system-info help-message">
											<p th:utext="${order.orderSummary}"></p>
											<p th:if="${order.orderCanBeCorrected}">För att korrigera serienummer eller stöld-id på denna order, klicka <a th:href="@{/order-list/correct/} + ${order.id}"><strong>HÄR =></strong></a></p>
										</div>
										<div class="form-step current-step" id="registration-area">
											<div class="form-step-header cf">
												<h2
													th:text="${'Hantera leverans för order ' + {order.orderNumber}}"></h2>
											</div>
											<div class="form-section">
												<!-- Show registration section only if there are things left to register -->
												<div
													th:if="${not #lists.isEmpty(order.unCompletedOrderLines)}"
													th:remove="tag">
													<h3>Registrera utrustning</h3>
													<div th:if="${not #strings.isEmpty(reqAttr.regEquipmentResult)}"
														class="system-info error-message">
														<span th:text="${reqAttr.regEquipmentResult}">Felmeddelande efter registrering</span>
													</div>
													
													<form
														th:action="@{/order-list/view/registerEquipment/} + ${order.id}"
														th:object="${reqAttr}" method="post" id="reg-equipment">
														<table class="small-table">
															<colgroup>
																<col style="width: 30%" />
																<col style="width: 70%" />
															</colgroup>
															<tbody>
																<tr>
																	<th scope="row">Orderrad</th>
																	<td><select th:field="${reqAttr.orderLineId}"
																		id="orderLineId" name="orderLineId">
																			<option
																				th:each="orderLine : ${order.unCompletedOrderLines}"
																				th:value="${orderLine.id}"
																				th:text="${orderLine.rowNumber}"
																				th:attr="data-art-type=${orderLine.optionClass}" />
																	</select></td>
																</tr>
															</tbody>
														</table>
														<table id="with-serial-no">
															<colgroup>
																<col style="width: 30%" />
																<col style="width: 70%" />
															</colgroup>
															<tbody>
																<tr>
																	<th scope="row">Serienummer</th>
																	<td><input th:field="${reqAttr.serialNo}"
																		type="text" id="serienr" value="" /></td>
																</tr>
																<tr>
																	<th scope="row">Stöld-ID</th>
																	<td><input th:field="${reqAttr.stealingTag}"
																		type="text" id="stealingid" name="stealingid" value="" class="trig-enter"/></td>
																</tr>
															</tbody>
														</table>
														<table id="no-serial-no" class="small-table"
															style="display: none;">
															<colgroup>
																<col style="width: 30%" />
																<col style="width: 70%" />
															</colgroup>
															<tbody>
																<tr>
																	<th scope="row">Antal</th>
																	<td><input th:field="${reqAttr.total}" type="number"
																		id="total" name="total" value="" /></td>
																</tr>
															</tbody>
														</table>
														<div class="row cf action-area">
															<input class="backend-operation" type="submit"
																value="Spara" name="storeequipment" id="storeequipment" />
														</div>
													</form>
												</div>
												<h3>Orderrader</h3>
												<table class="small-table">
													<thead>
														<tr>
															<th>Orderrad</th>
															<th>Artikelnummer</th>
															<th>Beskrivning</th>
															<th>Serienummerbärande</th>
															<th>Antal</th>
															<th>Registrerade</th>
															<th>Återstående</th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="orderLine : ${order.orderLines}"
															th:remove="tag">
															<tr th:class="${orderLine.rowClass}">
																<td th:text="${orderLine.rowNumber}">1</td>
																<td th:text="${orderLine.articleNumber}">31231312</td>
																<td th:text="${orderLine.articleDescription}">HP elitebook</td>
																<td th:text="${orderLine.hasSerialNoLabel}">Ja</td>
																<td th:text="${orderLine.total}">5</td>
																<td th:text="${orderLine.registered}">0</td>
																<td th:text="${orderLine.remaining}">5</td>
															</tr>
															<tr th:if="${not #lists.isEmpty(orderLine.equipments)}">
																<td></td>
																<td colspan="2">
																	<table class="small-table inner-table">
																		<thead>
																			<tr>
																				<th>Serienummer</th>
																				<th>Stöld-ID</th>
																				<th th:if="${order.editable}">Ta bort</th>
																			</tr>
																		</thead>
																		<tbody>
																			<tr th:each="equipment : ${orderLine.equipments}">
																				<td th:text="${equipment.serialNo}">5</td>
																				<td th:text="${equipment.stealingTag}">5</td>
																				<td th:if="${order.editable}"><a
																					th:href="@{/order-list/view/deleq/} + ${order.id} + '/' + ${orderLine.id} + '/' + ${equipment.id} + '#registration-area'">Ta
																						bort</a></td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</tr>
													</tbody>
												</table>
												<h3 id="label-printing">Utskrift av etiketter</h3>
												<div th:if="${not #strings.isEmpty(order.printMessage)}" class="information-text system-info help-message">
													<p th:utext="${order.printMessage}"></p><strong><a onclick="PrintLabels()">Skriv ut =></a></strong>
												</div>
												<h3 id="additional-order-info">Övrig orderinformation</h3>
												<!-- Success or error message for file upload -->
												<div th:if="${reqAttr.statusAttachmentSuccess != null}"
													class="information-text system-info thanks-message">
													<span th:text="${reqAttr.statusAttachmentSuccess}">Fil uppladdad</span>
												</div>
												<div th:if="${reqAttr.statusAttachmentFailed != null}"
													class="system-info error-message">
													<span th:text="${reqAttr.statusAttachmentFailed}">Fil kunde ej laddas upp</span>
												</div>
												
												<table class="small-table">
													<colgroup>
														<col style="width: 15%" />
														<col style="width: 15%" />
														<col style="width: 70%" />
													</colgroup>
													<tbody>
														<tr>
															<th scope="row">Ordernummer</th>
															<td th:text="${order.orderNumber}" id="int-order-no">LT100199</td>
														</tr>
														<tr>
															<th scope="row">Kundens ordernummer</th>
															<td th:text="${order.customerOrderNumber}" id="ext-order-no">REQ100094</td>
														</tr>
														<tr>
															<th scope="row">Kundens beställningsnummer</th>
															<td th:text="${order.customerSalesOrder}" id="ext-sales-no">REQ100094</td>
														</tr>
														<tr>
															<th scope="row">Kund</th>
															<td th:text="${order.customerName}">Lundby</td>
														</tr>
														<tr>
															<th scope="row">Orderdatum</th>
															<td th:text="${order.orderDateAsString}">2016-02-02</td>
														</tr>
														<tr>
															<th scope="row">Status</th>
															<td th:text="${order.statusDisplay}">Ny</td>
														</tr>
														<tr th:if="${order.attachment != null}">
															<th scope="row">Leveransdokument</th>
															<td><a th:href="@{/order-list/view/viewfile/} + ${order.id}" th:text="${order.attachment.fileName}">Hämta fil</a></td>
															<td th:if="${order.editable}"><a th:href="@{/order-list/view/delfile/} + ${order.id} + '#additional-order-info'">Ta bort</a></td>
														</tr>
														<tr>
															<th scope="row">Status</th>
															<td th:text="${order.statusDisplay}">Ny</td>
														</tr>
														
													</tbody>
												</table>
												<div th:if="${order.attachment == null}">
													<label class="strong-title" for="bifogad_fil">Bifoga leveransdokument</label>
													 <form action="upload" th:action="@{/order-list/view/attachFile/} + ${order.id} + '#additional-order-info'" method="post" enctype="multipart/form-data">
														<div class="attachment-area">
															<div class="cloneable">
																<input type="file" name="attachment"
																	class="filesize" id="attachment" />
																<button>Bifoga</button>
															</div>
														</div>
													</form>
												</div>
												<h3 id="order-comments-header">Statusmeddelanden</h3>
												<!-- Success or error message for order commen t creation -->
												<div th:if="${reqAttr.statusMessageCreationSuccess != null}"
													class="information-text system-info thanks-message">
													<span th:text="${reqAttr.statusMessageCreationSuccess}">Kommentar
														skapades</span>
												</div>
												<div th:if="${reqAttr.statusMessageCreationFailed != null}"
													class="system-info error-message">
													<span th:text="${reqAttr.statusMessageCreationFailed}">Kommentar
														skapades ej</span>
												</div>
												<form
													th:if="${order.editable}"
													th:action="@{/order-list/view/registerComment/} + ${order.id} + '#order-comments-header'"
													th:object="${reqAttr}" method="post">
													<table class="small-table">
														<tbody>
															<tr>
																<th scope="row">Orderrad</th>
																<td><select th:field="${reqAttr.orderLineId}"
																	id="orderLineId" name="orderLineId">
																		<option value="0">Generellt</option>
																		<option th:each="orderLine : ${order.orderLines}"
																			th:value="${orderLine.rowNumber}"
																			th:text="${orderLine.rowNumber}" />
																</select></td>
															</tr>
															<tr>
																<th scope="row">Meddelande</th>
																<td><textarea th:field="${reqAttr.comment}"
																		rows="5" cols="75" id="comment" name="message"
																		placeholder="Skriv ditt statusmeddelande här"></textarea>
																</td>
															</tr>
														</tbody>
													</table>

													<div class="row cf action-area">
														<input class="backend-operation" type="submit"
															value="Skicka" name="storecomment" id="storecomment" />
													</div>
												</form>
												<h4>Skickade statusmeddelanden</h4>
												<table class="small-table">
													<thead>
														<tr>
															<th>Orderrad</th>
															<th>Meddelande</th>
															<th>Tidpunkt</th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="comment : ${order.orderComments}">
															<td th:text="${comment.orderLineDisplay}">1</td>
															<td th:text="${comment.message}">HP elitebook</td>
															<td th:text="${comment.creationDateDisplay}">Ja</td>
														</tr>
													</tbody>
												</table>
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:include="footer" th:remove="tag"></div>
	</div>
</body>
</html>