<!DOCTYPE html>

<html lang="sv" class="js" xmlns:th="http://www.thymeleaf.org">

<meta charset="utf-8"/>
<head th:include="head" th:remove="tag" />

<body class="layout-2">
	<div id="body">
		<!-- <div class="include" data-include="header"></div> -->
		<div th:include="header" th:remove="tag"></div>
		<div th:if="${session.systemUser.admin}" id="main" class="cf">
			<div id="content">
				<div th:include="sub-header" th:remove="tag"></div>
				<!-- <div class="include" data-include="sub-header"></div> -->
				<div id="service-portal" class="sp-layout-4">
					<div class="content-1">
						<div class="m m-1 m-page cf">
							<div class="m-h main-header cf">
								<div class="page-heading">
									<h2>Inställningar</h2>
								</div>
							</div>
							<div class="tab-navigation">
								<ul class="tabs cf">
									<li class="sel">
										<a th:href="@{/settings}" rel="nofollow">Systeminställningar
										</a>			
									</li>
									<li>
										<a th:href="@{/route-settings}" rel="nofollow">Körschema
										</a>			
									</li>
								</ul>
							</div>
							<div class="form-section case-listing"></div>
							<!-- Här kan man lägga på en vänster meny -->
							<div class="m-form">
								<div class="content e-tjansteplattform hamster">
									<div class="link-padding">
										<div class="back-link">
											<a th:href="@{/order-list}" rel="nofollow">Avbryt</a>
										</div>
									</div>
									<div th:if="${reqAttr.statusMessageCreationSuccess != null}"
										class="side-margin information-text system-info thanks-message">
										<span th:text="${reqAttr.statusMessageCreationSuccess}">Uppdatering genomförd</span>
									</div>
									
									<div class="form-step">
									
										<!-- Här kan man lägga på ett tack meddelande -->
				
										<form
												th:action="@{/settings/save}"
												th:object="${reqAttr}" method="post">
											<div class="form-section" id="search-results">
												<h3>Hantera inställningar</h3>
												<table>
													<colgroup>
														<col style="width: 25%" />
														<col style="width: 60%" />
														<col style="width: 15%" />
													</colgroup>
													<thead>
														<tr>
															<th scope="col">Parameter-ID</th>
															<th scope="col">Strängvärde</th>
															<th scope="col">Numeriskt värde</th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="property, pLoop : ${properties}">
															<td th:text="${property.id}">parameter-id</td>															
															<td>
																<input type="text" class="large-field" th:field="${reqAttr.systemProperties[__${pLoop.index}__].stringValue}" name="stringValue"/>
															</td>
															<td>
																<input type="number" th:field="${reqAttr.systemProperties[__${pLoop.index}__].numberValue}" />
																<input type="hidden" th:field="${reqAttr.systemProperties[__${pLoop.index}__].id}" />
															</td>
														</tr>
													</tbody>
												</table>
											</div>
											<div class="submit-area">
												<input class="button" type="submit" value="Spara ändringar" />
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:include="footer" th:remove="tag"></div>
	</div>
</body>
</html>