<div class="sub-header cf">
	<div class="sub-header-nav">
		<ul class="cf">
			<li><a th:href="@{/order-list}">Leveranser</a></li>
			<li><a th:href="@{/search-equipment}">Sök utrustning</a></li>
			<li><a th:href="@{/customer-groups}">Kundgrupper</a></li>
			<li><a th:href="@{/reports/sla}">Rapporter</a></li>
			<li class="sel"><a th:href="@{/archiving}">Arkivering</a></li>
			<li><a th:href="@{/error-list}" th:text="${'Felmeddelanden (' + {session.errors} + ')'}"></a></li>
		</ul>
	</div>
</div>
