<div class="sub-header cf">
	<div class="sub-header-nav">
		<ul class="cf">
			<li><a th:href="@{../../DeliveryManagerGUI/order-list}">Leveranser</a></li>
			<li><a th:href="@{../../DeliveryManagerGUI/search-equipment}">Sök utrustning</a></li>
			<li><a th:href="@{../../DeliveryManagerGUI/customer-groups}">Kundgrupper</a></li>
			<li><a th:href="@{../../DeliveryManagerGUI/reports/sla}">Rapporter</a></li>			
			<li class="sel"><a href="#">Arkivering</a></li>
			<li><a th:href="@{../../DeliveryManagerGUI/error-list}">Felmeddelanden</a></li>
		</ul>
	</div>
</div>
