/*
 * File: im.css
 *
 * Used on IM pages
 *
 */



/* =============================================================================
 * Layout
 *
 * Common layout and specific layouts based on body layout classes
============================================================================= */
#service-portal .m-form {
    float: left;
    width: 100%;
    /*padding: 14px 40px 14px 0;*/
	padding: 0;
}
#service-portal .order-details {
    padding: 0px 20px 0px 20px;
}
#service-portal .inner-table {
    background-color: #efeadf;
}
#service-portal .action-area {
    padding-bottom : 15px;
}
.strong-title {
    font-weight: bold;
}
.delete-file {
    border: none;
    background: none;
    color: #1275b8;
    font-size: 1em;
}

.custgroup-link {
    font-weight: bold;
    font-size: 20px;
}

.custgroup-list {
    margin: 0px !important;
    padding: 30px !important;
}

#service-portal .attachment-area {
    margin-bottom : 15px;
}

#service-portal .completed-row {
    background-color : #ccffcc;
}

#service-portal .link-padding {
	padding-left: 10px;
}

#service-portal .large-field {
	width: 500px;
}
#service-portal .side-margin {
	margin-right: 10px;
	margin-left: 10px;
}
#service-portal .big-fat {
    font-weight: bold;
    font-size: large;
}
#service-portal .input-steal-id {
    width: 80px;
}
#service-portal .input-reg-by {
    width: 120px;
}
#service-portal tr.border_bottom td {
  border-bottom:2pt solid grey;
}
#service-portal table.flyffy td, th {
    padding-bottom: 8px;
}
#service-portal tr.late-order {
    color: red;
}
