/*
 * File: im.css
 *
 * Used on IM pages
 *
 */



/* =============================================================================
 * Layout
 *
 * Common layout and specific layouts based on body layout classes
============================================================================= */
#service-portal .m-form {
    float: left;
    width: 100%;
    /*padding: 14px 40px 14px 0;*/
	padding: 0;
}
#service-portal .order-details {
    padding: 0px 20px 0px 20px;
}
#service-portal .inner-table {
    background-color: #efeadf;
}
#service-portal .action-area {
    padding-bottom : 15px;
}
.strong-title {
    font-weight: bold;
}
.delete-file {
    border: none;
    background: none;
    color: #1275b8;
    font-size: 1em;
}

.custgroup-link {
    font-weight: bold;
    font-size: 20px;
}

#service-portal .attachment-area {
    margin-bottom : 15px;
}

#service-portal .completed-row {
    background-color : #ccffcc;
}

#service-portal .distributed-row {
    background-color : #ffff99;
}

#service-portal .link-padding {
	padding-left: 10px;
}

#service-portal .large-field {
	width: 500px;
}
#service-portal .medium-field {
	width: 250px;
}
#service-portal .side-margin {
	margin-right: 10px;
	margin-left: 10px;
}
#service-portal .big-fat {
    font-weight: bold;
    font-size: large;
}
#service-portal .input-steal-id {
    width: 80px;
}
#service-portal .input-reg-by {
    width: 120px;
}
#service-portal tr.border_bottom td {
  border-bottom:2pt solid grey;
}
#service-portal table.flyffy td, th {
    padding-bottom: 8px;
}
#service-portal tr.late-order {
    color: red;
}

#service-portal p.important-message {
    font-weight: bold;
}
#sortable1, #sortable2 {
    border: 1px solid #eee;
    width: 322px;
    min-height: 20px;
    list-style-type: none;    
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
  #sortable1 li, #sortable2 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 300px;
}
.clear-floats {
    clear: both;
}
  
.pink-box {
	background: #EF9A9A !important;
}

.yellow-box {
	background: #FFE082 !important;
}

.green-box {
	background: #A5D6A7 !important;
}

.report-config-header-section {
	margin-top: 20px;
	clear: both;
	padding-left: 30px;
}

.report-config-header {
	font-weight: bold;
	font-size: 16px;
}

.report-config-header-left {
	width: 333px;
	float: left;
}
.lim-modal {
	position: fixed;
}
